@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  background-image: url("background.jpg");
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
